@using ShoppingApplication.Models
@model List<Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h2>Categories</h2>
    <p>
        @Html.ActionLink("Add New Category", "AddCategory")
    </p>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    Category Id
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="/Admin/EditCategory/@item.Id">Edit</a> |
                    <a href="/Admin/DeleteCategory/@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>